<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985963480122-ror4e3rku08e5gne2f43arrljv8ksfnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985963480122-ror4e3rku08e5gne2f43arrljv8ksfnd</string>
	<key>API_KEY</key>
	<string>AIzaSyCQVo3njU40aSLHkC7W8LQqK18V8CyeHhg</string>
	<key>GCM_SENDER_ID</key>
	<string>985963480122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mise.swa</string>
	<key>PROJECT_ID</key>
	<string>chery-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>chery-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985963480122:ios:5e98d513e238d02291e103</string>
</dict>
</plist>