<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>swaApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao0684fe0c63bf45f2fb0b5f3e4644e750</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>KTYX6vwk4rzScgFRcf_-QtJYgLCt2pOhLdcq9</string>
	<key>KAKAO_APP_KEY</key>
	<string>0684fe0c63bf45f2fb0b5f3e4644e750</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao0684fe0c63bf45f2fb0b5f3e4644e750</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>codepush.appcenter.ms</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/NotoSansKR-Regular.otf</string>
		<string>Fonts/GmarketSansTTFBold.ttf</string>
		<string>Fonts/GmarketSansTTFLight.ttf</string>
		<string>Fonts/GmarketSansTTFMedium.ttf</string>
		<string>Fonts/NotoSansKR-Medium.otf</string>
		<string>Fonts/NotoSansKR-Thin.otf</string>
		<string>Fonts/NotoSansKR-Bold.otf</string>
		<string>Fonts/NotoSansKR-Black.otf</string>
		<string>Fonts/NotoSansKR-Light.ttf</string>
		<string>fonts/LotteMedium.ttf</string>
		<string>Fonts/LotteMedium.ttf</string>
		<string>12LotteMartDreamMedium.ttf</string>
		<string>Fonts/NotoSansCJKkr-Medium.otf</string>
		<string>Fonts/NotoSansCJKkr-Regular.otf</string>
		<string>Fonts/NotoSansCJKkr-Light.otf</string>
		<string>Fonts/NotoSansCJKkr-Bold.otf</string>
		<string>Fonts/NotoSansCJKkr-Thin.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
